/* add all custom styling here. */
* {
	font-family: Verdana;
}

span {
	margin-top: -3%;
color:#000;
}

nav {
	background: #123456 !important;
}
.navbar-default .navbar-brand, .navbar-nav > li > a, .caret,
.glyphicon-home, .glyphicon-user, .glyphicon-off, .glyphicon-cog,
.glyphicon-print, .navbar-brand > a {
	color: #fff !important;
	font-size: 18px;
	cursor: pointer;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
 background: #00AAE8;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	background-color: #123456;
}
